*gtest*
test_*
*.cmake
*Makefile
*CMakeCache.txt
*CMakeFiles
Test*
studpark
env
*.cbp
files
symlinks
cmake-*
cmake-build-debug
vendor
build
env.crash
created_templates
templates/node_modules
*.DS_Store
sender
cmake-build-debug
.git
