*a.out
*gtest*
test_*
*.cmake
*Makefile
*CMakeCache.txt
*CMakeFiles
*.idea
Test*
studpark
env
*.cbp
files
symlinks
cmake-*
.idea
vendor
build
env.crash
created_templates
templates/node_modules
sender
cmake-build-debug
main.cpp
.idea
.git
*.DS_Store
