<header>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="col-6">
            <div class="container-fluid justify-content-start">
                <div class="col">
                    <a class="navbar-brand" href="#">
                        <h1 style="color: white;">
                            Studpark&nbsp;&nbsp;&nbsp;<i style="font-size: 15px;">Developed by students for students</i>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    {% if isAuthenticated %}
                    <div class="row">
                        <div class="col-4">
                            <p style="font-size: 20px; color: white;">
                                Вы авторизовались как
                                <!-- Добавить ссылку? -->
                                {{ user }}
                            </p>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <!-- Добавить ссылку -->
                            <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                                Настройки
                            </button>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <!-- Добавить ссылку -->
                            <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                                Выход
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-4" style="margin-top: 10px;">
                            <a href="/login">
                            <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                                Авторизация
                            </button>
                            </a>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <a href="/signup">
                            <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                                Регистрация
                            </button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>