<header>
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="col-6">
            <div class="container-fluid justify-content-start">
                <div class="col-5">
                    <a class="navbar-brand" href="#">
                        <h1 style="margin-top: 10px; padding-bottom: 8px;">Studpark</h1>
                        <i style="font-size: 15px;">Developed by students for students</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col">
                    <div class="container-fluid justify-content-end">
                        <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                            Регистрация
                        </button>
                        &nbsp&nbsp&nbsp
                        <button type="button" class="btn btn-light" style="width: 200px; font-size: 20px;">
                            Вход
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>