<div class="row">
  <div class="col-3"></div>
  <div class="col-2">
    <p style="font-size: 20px; color: white; margin-top: 15px;">
      <!-- Добавить ссылку? -->
      {{ user }}
    </p>
  </div>
  <div class="col-3" style="margin-top: 10px;">
    <!-- Добавить ссылку -->
    <button type="button" class="btn btn-light" style="width: 150px; font-size: 20px;">
      Настройки
    </button>
  </div>
  <div class="col-3" style="margin-top: 10px;">
    <!-- Добавить ссылку -->
    <button type="button" class="btn btn-light" style="width: 150px; font-size: 20px;">
      Выход
    </button>
  </div>
</div>