<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Studpark</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="sticky-footer-navbar.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/index.css" rel="stylesheet">
</head>

<body>
{% include "includes/header.html" %}
<!-- Begin page content -->
<main>
    <div class="container">
        {% include "includes/calendar.html" %}
        <br>
        <div class="row">
            <!-- Left column with questions -->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 style="color: black;">Последние посты</h1>
                    </div>
                    {% if isLeader %}
                    <div class="col">
                        <!-- Добавить ссылку -->
                        <button type="submit" class="btn btn-secondary" style="width: 200px; font-size: 15px;">
                            Добавить пост
                        </button>
                    </div>
                    {% endif %}
                </div>
                <br>
                <!--One question -->
                {% if posts %}
                {% for post in posts %}
                <div class="row">
                    <div class="col">
                        <div class="p-3 border bg-light">
                            <div class="row">
                                <div class="col">
                                    <div class="container-fluid justify-content-center">
                                        <div class="row">
                                            <h3><a href="#">{{ post.title }}</a></h3>
                                        </div>
                                        <div class="Question-Text">
                                            <div class="row">
                                                <p>
                                                    {{ post.text }}
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="text-right">
                                                        <small><i>{{ post.author }} | 24.03.2021 17:26</i></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/main.js"></script>
</body>
</html>